* { box-sizing: border-box; }

body{
	direction: rtl;
    background-color: #ffffff;
    font-family: BYekan, 'BYekan', tahoma;
    font-size: 16px;
}

.container{
    width: 90%;
    margin: 30px auto;
    border: 1px solid black;
}

.avatar-container{
    position: relative;
    display: inline-block;

}

.avatar{
    border: 3px solid #ccc;
    border-radius: 50%;
}

.avatar-container{
    float: right;
}








/* new_payment.html*/
.input-wraper{
	margin: 10px 0;
	width: 100%;
}

.input-wraper label{
	padding-top: 13px; 
	float: right;
	text-align: right;
	display: block;
	width: 25%;
}

.input-wraper input{
	width: 75%;
}

div.awesomplete{
	width: 75%;
}

input.awesomplete{
	width: 100%;
}

input[type=text], input[type=number]{
	padding: 10px;
	font-family: BYekan, 'BYekan', tahoma;
	font-size: 18px;
	border: 1px solid transparent;
	background-color: #f1f1f1;
	text-align: right;
}

input[type=submit]{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #03A9F4;
	border: 1px solid transparent;
	color:#ffffff;
	font-family: BYekan, 'BYekan', tahoma;
	font size: 40px;
}

input[type=submit]:hover{
	background-color: #2196F3;
	border: 3px solid #03A9F4;
}

/* Remove arrow keys from number input*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}